assets/
tgt/music/
tgt/music_bak/
tgt/video/
agon-utils/
agon-utils 
build/utils/
tgt/images/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Environments
.venv
.vscode

# macOS system files
.DS_Store
.DS_Store?
._.DS_Store
.Spotlight-V100
.Trashes
._*
.AppleDouble
.LSOverride

# macOS directory attributes
Icon?