# Large media files
midi/sf2/

# Build and target directories
assets/
build/utils/
tgt/music/
tgt/music_bak/
tgt/video/
tgt/images/
agon-utils/
agon-utils

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment and editor
.venv
.vscode

# macOS system files
.DS_Store
.DS_Store?
._.DS_Store
._*
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
Icon?
